<div class="profileData">
<div class="userPic">


<div>
<form method="post" action="http://127.0.0.1:3000/profile">


<input type="text" class="rounded" name="username" value="{{feed.username}}">

<p>
  <img src="{{feed.profile_picture}}"/>
</p>
</div>




<!--Name-->
<div class="profileName">

    <input type="text" class="rounded" name="full_name" value="{{feed.full_name}}">
 
</div>
<!--End Name-->



<!--Bio-->
<div class="profileBio">

 <input type="text" class="rounded" name="bio" value="{{feed.bio}}">

</div>
<!--End Bio-->




<!--Website-->
<div class="profileName">

    <input type="text" class="rounded" name="website" value="{{feed.website}}">

</div>
<!--End Website-->




<!--save button-->


  <button type="submit" formaction="/profile" class = "sigBtn">
     Save
  </button>



</form>
</div>
